/* You can add global styles to this file, and also import other style files */
* {
  outline: none !important;
}

.form-control {
  height: auto !important;
  outline: none !important;
}

.ok {
  transition: all .3s ease;
  color: green;
}
